<a href="/employee">Employee Index</a>
<a href="/restaurant">Restaurant Index</a>

<a href="/">Welcome Index</a>

<h2><a href="/restaurant/new">New Restaurant</a></h2>

<h1>Restaurants</h1>

<% @restaurant.each do |restaurant| %>
  <p><a href="/restaurant/<%=restaurant.id%>"><%= restaurant.name %></a>  <%=restaurant.created_at %></p>
<% end %>
