<a href="/">Welcome Index</a>

<h1>Restaurants</h1>

<% @restaurant.each do |restaurant| %>
  <a href="/restaurant/<%=restaurant.id%>"><h3><%= restaurant.name %></h3></a>
<% end %>

<h2><a href="/restaurant/new">Add New Restaurant</a></h2>
