<form action="/restaurant" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new restaurant:</p>
  <input type='text' name='restaurant[name]'/><br/>
  <input type='datetime' name='restaurant[created_at]'/><br/>
  <input type='datetime' name='restaurant[updated_at]'/><br/>
  <input type='integer' name='restaurant[seats]'/><br/>
  <input type='boolean' name='restaurant[serve_liquor]'/><br/>
  <input type='submit'/>
</form>
