<a href="/employee">Employee Index</a>
<a href="/restaurant">Restaurant Index</a>

<h1>Welcome to Relational Rails</h1>

<ul>
  <li><a href="/restaurant">Restaurant Index</a></li>
  <li><a href="/employee">Employee Index</a></li>
  <li><a href="/brewery">Brewery Index</a></li>
  <li><a href="/beer">Beer Index</a></li>
</ul>
