<h1>Welcome to the Relational Rails</h1>

<ul>
  <li><a href="/restaurant">Restaurant Index</a></li>
  <li><a href="/employee">Employee Index</a></li>
  <li><a href="/brewery">Brewery Index</a></li>
  <li><a href="/beers">Beer Index</a></li>
</ul>
