<a href="/employee">Employee Index</a>
<a href="/restaurant">Restaurant Index</a>
<a href="/beers">Beers Index</a>
<a href="/breweries">Breweries Index</a>

<h1>Welcome to Relational Rails</h1>
<%=image_tag("restaurant.png", size: "50")%>
<a href="/restaurants">Restaurant Index</a><br>
<%=image_tag("employee.png", size: "50")%>
<a href="/employees">Employee Index</a><br>
<%=image_tag("brewery.png", size: "50")%>
<a href="/breweries">Brewery Index</a><br>
<%=image_tag("beer.png", size: "50")%>
<a href="/beers">Beers Index</a><br>
