<%= link_to "Employee Index", "/employees"%>
<%= link_to "Restaurant Index", "/restaurants"%>
<a href="/beers">Beers Index</a>
<a href="/breweries">Breweries Index</a>

<h1>Welcome to Relational Rails</h1>

<a href="/restaurants">Restaurant Index</a><br>
<img src="https://clipart.world/wp-content/uploads/2021/01/Restaurant-Building-clipart.png" width= "200" height= "150"alt="Restaurant"><br>
<a href="/employees">Employee Index</a><br>
<img src="https://www.pinclipart.com/picdir/big/326-3265058_membership-committee-three-people-icon-png-clipart.png" width= "100" height= "75"alt="Employees"><br>
<a href="/brewery">Brewery Index</a><br>
<img src="https://png.pngtree.com/png-clipart/20200709/original/pngtree-brewery-vector-png-image_3734012.jpg" width= "125" height= "125"alt="Brewery"><br> -->
<a href="/beers">Beers Index</a><br>
<img src="https://previews.123rf.com/images/stockakia/stockakia1711/stockakia171100009/89712494-two-full-beer-mugs-on-a-beer-toasting-concept-vector-illustration.jpg" width= "100" height= "100"alt="Beers"><br> -->
