<a href="/">Welcome Index</a>
<a href="/beers">Beers Index</a>
<a href="/breweries">Breweries Index</a>

<form action="/breweries" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3>Enter a new brewery:</h3>
  <p>Name:</p>
  <input type='text' name='brewery[name]'/><br/>
  <p>Number of Employees:</p>
  <input type='integer' name='brewery[number_of_employees]'/><br/>
  <p>Employee Owned:</p>
  <input type='boolean' name='brewery[employee_owned]'/><br/>
  <input type='submit' name='submit'/>
</form>
