<a href="/">Welcome Index</a>

<h1>Breweries</h1>

<% @brewery.each do |brewery| %>
  <a href="/brewery/<%=brewery.id%>"><h3><%= brewery.name %></h3></a>
<% end %>

<h2>Add New Brewery</h2>

  <a href="/brewery/new">Add New Brewery</a></li>
