<a href="/">Welcome Index</a>
<a href="/beer">Beer Index</a>
<a href="/brewery">Brewery Index</a>

<form action="/brewery" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p><h3>Enter a new brewery:</h3></p>
  <p>Name:</p>
  <input type='text' name='brewery[name]'/><br/>
  <p>Number of Employees:</p>
  <input type='integer' name='brewery[number_of_employees]'/><br/>
  <p>Employee Owned:</p>
  <input type='boolean' name='brewery[employee_owned]'/><br/>
  <input type='submit'/>
</form>
